<!doctype html>
<html>
<head>
    <title>Project X - Home</title>
    <meta name="keywords" content="Live Stream Indonesia, Low Latency">
    <meta name="description" content="One of the first low-latency live streaming platform in Indonesia. Share what your life here. LIVE">
    <link rel="stylesheet" href="https://bootswatch.com/lumen/bootstrap.css">
    <link rel="stylesheet" href="/css/projectX-css.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <body>

      <script>
        window.intercomSettings = {
          app_id: "xoueffbq"
        };
      </script>
      <script>(function(){var w=window;var ic=w.Intercom;if(typeof ic==="function"){ic('reattach_activator');ic('update',intercomSettings);}else{var d=document;var i=function(){i.c(arguments)};i.q=[];i.c=function(args){i.q.push(args)};w.Intercom=i;function l(){var s=d.createElement('script');s.type='text/javascript';s.async=true;s.src='https://widget.intercom.io/widget/xoueffbq';var x=d.getElementsByTagName('script')[0];x.parentNode.insertBefore(s,x);}if(w.attachEvent){w.attachEvent('onload',l);}else{w.addEventListener('load',l,false);}}})()</script>

</body>
</html>
